* {
  padding: 0;
  margin: 0;
}

button {
  background: unset;
  border: unset;
}

a {
  list-style: none;
  color: black;
}

.header {
  background: url(/img_1/header-bg.png) no-repeat center/cover;
  padding: 27px 166px 210px 166px;
}
.header-slider {
  background: white;
  position: absolute;
  display: flex;
  -moz-column-gap: 66px;
       column-gap: 66px;
  padding: 60px 165px 54px 65px;
  right: 0;
  bottom: 45px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 2;
}
.header-nav {
  margin-bottom: 121px;
  display: flex;
  justify-content: space-between;
}
.header-nav-burger {
  display: flex;
  flex-direction: column;
  row-gap: 3.6px;
  padding: 14px 11px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
.header-nav-burger__line {
  background: black;
  width: 18px;
  height: 1.8px;
}

.strategy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 75px 166px 150px;
  position: relative;
}
.strategy-left {
  flex-basis: 38%;
}
.strategy-left__supTitle {
  color: rgba(77, 83, 60, 0.8980392157);
  font-size: 14px;
  margin-bottom: 29px;
}
.strategy-left__Title {
  color: rgba(59, 62, 49, 0.8980392157);
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 35px;
}
.strategy-left__subTitle {
  color: rgba(33, 56, 66, 0.6);
  margin-bottom: 42px;
}
.strategy-left__link {
  color: #D4D6D4;
}
.strategy-right {
  flex-basis: 38%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 244px 8px 60px 40px;
  margin-top: -75;
}
.strategy-right__desk {
  font-size: 24px;
  color: #4D533C;
  margin-bottom: 50px;
}
.strategy-right-profile {
  display: flex;
  align-items: center;
}
.strategy-right-profile-title {
  font-size: 22px;
  color: #4D533C;
}
.strategy-right-profile-title__name {
  font-size: 400;
  color: #152934;
}

.project-text__3D {
  width: 40%;
  left: 5%;
  position: absolute;
  margin-top: 15%;
}
.project-mix__text {
  width: 40%;
  position: absolute;
  right: 5%;
  margin-top: -20%;
}
.project-mixxx__img {
  margin-top: 37%;
}
.project-mixx__img {
  right: 0;
  position: absolute;
}
.project-mixxx {
  position: absolute;
  width: 40%;
  right: 5%;
  margin-top: -20%;
}
.project-text {
  display: flex;
  justify-content: space-around;
  margin: 100px 20px;
}
.project-text__awesomr {
  flex-basis: 10%;
}
.project-text__lorem {
  flex-basis: 23%;
}

.the-wall {
  width: 30%;
}

.article {
  padding: 40px;
}

.tv {
  padding: 40px;
}

.future {
  width: 28%;
}

.you-should {
  padding: 40px;
}