* {
  padding: 0;
  margin: 0;
}

button {
  background: unset;
  border: unset;
}

a {
  list-style: none;
  color: black;
}

.header {
  background: url(/img_1/header-bg.png) no-repeat center/cover;
  padding: 27px 166px 210px 166px;
}
.header-slider {
  background: white;
  position: absolute;
  display: flex;
  -moz-column-gap: 66px;
       column-gap: 66px;
  padding: 60px 165px 54px 65px;
  right: 0;
  bottom: 45px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header-nav {
  margin-bottom: 121px;
  display: flex;
  justify-content: space-between;
}
.header-nav-burger {
  display: flex;
  flex-direction: column;
  row-gap: 3.6px;
  padding: 14px 11px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}
.header-nav-burger__line {
  background: black;
  width: 18px;
  height: 1.8px;
}