* {
    padding: 0;
    margin: 0;
}

button {
    background: unset;
    border: unset;
}

a {
    list-style: none;
    color: black;
}

.page-wrapper {}

.header {
    background: url(/img_1/header-bg.png) no-repeat center/cover;
    padding: 27px 166px 210px 166px;

    &-slider{
background: white;
position: absolute;
display: flex;
column-gap: 66px;
padding: 60px 165px 54px 65px;
right: 0;
bottom: 45px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }



    &-nav {
        margin-bottom: 121px;
        display: flex;
        justify-content: space-between;
    

    &-burger {
        display: flex;
        flex-direction: column;
        row-gap: 3.6px;
        padding: 14px 11px;
        border-radius: 50%;
        background: white;
        cursor: pointer;

        &__line {
            background: black;
            width: 18px;
            height: 1.8px;

        }
    }
}
}
header-2{
    &__p{

    }
}

.header-nav__icon {}

.nav-burger {}

.header-nav-burger__line {}

.header__supTitel {}

.header__titel {}

.header__subTitel {}

.header__link {}



.header-slider__photo {}